tbody {
    display: block;
    height: 400px;
    overflow-y: scroll;
}

tr {
    display: block;
}

th,
td {
    width: 250px;
    /*word-wrap: break-word;min-width: 160px;max-width: 160px;*/
}

.long-text{
    word-wrap: break-word;
}